
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";

}
   <!--@Model List<Lab_Exam.Models.AccountInfo>-->@*  *@
<center>
    <h4 class="page-header"> These are The Accounts Details </h4>
</center>
<center>
        <h4><a href="/Login/Logout" class="btn btn-danger"> Log Out</a></h4>
    </center>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Account No.
            </th>

            <th>
                First Name
            </th>

            <th>
                Last Name
            </th>

            <th>
                Mobile No.
            </th>
            <th>
                DOB

            </th>
            <th>
                Balance

            </th>
            <th>
                Action

            </th>

        </tr>
        @foreach (Lab_Exam.Models.AccountInfo account in Model)
        {


            <tr>
                <td>
                    @account.Account_No
                </td>

                <td>
                    @account.FirstName
                </td>

                <td>
                    @account.LastName
                </td>

                <td>
                    @account.MobNo
                </td>

                <td>
                    @account.DOB

                </td>
                <td>
                    @account.Balance

                </td>
                <td>
                    <a href="/Account/Transaction/@account.Account_No" class="btn btn-primary"> WithDraw</a>
                    @*<a href="" class="btn"></a>*@

                </td>
            </tr>
        }
    </table>




